{
  "openapi": "3.0.0",
  "info": {
    "title": "HTTP API",
    "version": "1.0.0",
    "description": "This service distributes your order flow through a network of globally distributed, parallelized routing paths, delivering low-latency execution via Polymarket's [CLOB API](https://docs.polymarket.com/quickstart/introduction/main)."
  },
  "servers": [
    {
      "url": "https://poly.drive.markets"
    }
  ],
  "paths": {
    "/order": {
      "post": {
        "summary": "Place Single Order",
        "description": "Create and place a single order.",
        "tags": [
          "Create Order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/L2HeaderApiKey"
          },
          {
            "$ref": "#/components/parameters/L2HeaderSignature"
          },
          {
            "$ref": "#/components/parameters/L2HeaderTimestamp"
          },
          {
            "$ref": "#/components/parameters/L2HeaderNonce"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order placement response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid order or bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel Single Order",
        "description": "Cancel a single order by ID.",
        "tags": [
          "Cancel Order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/L2HeaderApiKey"
          },
          {
            "$ref": "#/components/parameters/L2HeaderSignature"
          },
          {
            "$ref": "#/components/parameters/L2HeaderTimestamp"
          },
          {
            "$ref": "#/components/parameters/L2HeaderNonce"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderID"
                ],
                "properties": {
                  "orderID": {
                    "type": "string",
                    "description": "ID of order to cancel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "summary": "Place Multiple Orders (Batching)",
        "description": "Place up to 15 orders in a single request.",
        "tags": [
          "Create Order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/L2HeaderApiKey"
          },
          {
            "$ref": "#/components/parameters/L2HeaderSignature"
          },
          {
            "$ref": "#/components/parameters/L2HeaderTimestamp"
          },
          {
            "$ref": "#/components/parameters/L2HeaderNonce"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostOrder"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch order placement response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid orders or bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel Multiple Orders",
        "description": "Cancel multiple orders by providing a list of order IDs.",
        "tags": [
          "Cancel Order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/L2HeaderApiKey"
          },
          {
            "$ref": "#/components/parameters/L2HeaderSignature"
          },
          {
            "$ref": "#/components/parameters/L2HeaderTimestamp"
          },
          {
            "$ref": "#/components/parameters/L2HeaderNonce"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "IDs of the orders to cancel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cancel-all": {
      "delete": {
        "summary": "Cancel ALL Orders",
        "description": "Cancel all open orders posted by the user.",
        "tags": [
          "Cancel Order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/L2HeaderApiKey"
          },
          {
            "$ref": "#/components/parameters/L2HeaderSignature"
          },
          {
            "$ref": "#/components/parameters/L2HeaderTimestamp"
          },
          {
            "$ref": "#/components/parameters/L2HeaderNonce"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancellation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cancel-market-orders": {
      "delete": {
        "summary": "Cancel orders from market",
        "description": "Cancel orders from a specific market.",
        "tags": [
          "Cancel Order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/L2HeaderApiKey"
          },
          {
            "$ref": "#/components/parameters/L2HeaderSignature"
          },
          {
            "$ref": "#/components/parameters/L2HeaderTimestamp"
          },
          {
            "$ref": "#/components/parameters/L2HeaderNonce"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "market": {
                    "type": "string",
                    "description": "Condition ID of the market"
                  },
                  "asset_id": {
                    "type": "string",
                    "description": "ID of the asset/token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "L2HeaderApiKey": {
        "in": "header",
        "name": "POLY-API-KEY",
        "schema": {
          "type": "string"
        },
        "required": true,
        "description": "API key of the user"
      },
      "L2HeaderSignature": {
        "in": "header",
        "name": "POLY-SIGNATURE",
        "schema": {
          "type": "string"
        },
        "required": true,
        "description": "Request signature"
      },
      "L2HeaderTimestamp": {
        "in": "header",
        "name": "POLY-TIMESTAMP",
        "schema": {
          "type": "string"
        },
        "required": true,
        "description": "Timestamp of the request"
      },
      "L2HeaderNonce": {
        "in": "header",
        "name": "POLY-NONCE",
        "schema": {
          "type": "string"
        },
        "required": true,
        "description": "Request nonce"
      }
    },
    "schemas": {
      "PlaceOrderPayload": {
        "type": "object",
        "required": [
          "order",
          "owner",
          "orderType"
        ],
        "properties": {
          "order": {
            "$ref": "#/components/schemas/OrderObject"
          },
          "owner": {
            "type": "string",
            "description": "API key of order owner"
          },
          "orderType": {
            "type": "string",
            "enum": [
              "FOK",
              "GTC",
              "GTD",
              "FAK"
            ],
            "description": "Order type"
          }
        }
      },
      "PostOrder": {
        "type": "object",
        "required": [
          "order",
          "orderType",
          "owner"
        ],
        "properties": {
          "order": {
            "$ref": "#/components/schemas/OrderObject"
          },
          "orderType": {
            "type": "string",
            "enum": [
              "FOK",
              "GTC",
              "GTD",
              "FAK"
            ]
          },
          "owner": {
            "type": "string",
            "description": "API key of order owner"
          }
        }
      },
      "OrderObject": {
        "type": "object",
        "required": [
          "salt",
          "maker",
          "signer",
          "taker",
          "tokenId",
          "makerAmount",
          "takerAmount",
          "expiration",
          "nonce",
          "feeRateBps",
          "side",
          "signatureType",
          "signature"
        ],
        "properties": {
          "salt": {
            "type": "integer",
            "description": "Random salt used to create unique order"
          },
          "maker": {
            "type": "string",
            "description": "Maker address (funder)"
          },
          "signer": {
            "type": "string",
            "description": "Signing address"
          },
          "taker": {
            "type": "string",
            "description": "Taker address (operator)"
          },
          "tokenId": {
            "type": "string",
            "description": "ERC1155 token ID of conditional token being traded"
          },
          "makerAmount": {
            "type": "string",
            "description": "Maximum amount maker is willing to spend"
          },
          "takerAmount": {
            "type": "string",
            "description": "Minimum amount taker will pay the maker in return"
          },
          "expiration": {
            "type": "string",
            "description": "Unix expiration timestamp"
          },
          "nonce": {
            "type": "string",
            "description": "Maker's exchange nonce of the order is associated"
          },
          "feeRateBps": {
            "type": "string",
            "description": "Fee rate basis points as required by the operator"
          },
          "side": {
            "type": "string",
            "enum": [
              "BUY",
              "SELL"
            ],
            "description": "Buy or sell enum index"
          },
          "signatureType": {
            "type": "integer",
            "description": "Signature type enum index"
          },
          "signature": {
            "type": "string",
            "description": "Hex encoded signature"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Boolean indicating if server-side error (success = false)"
          },
          "errorMsg": {
            "type": "string",
            "description": "Error message in case of unsuccessful placement"
          },
          "orderId": {
            "type": "string",
            "description": "ID of order"
          },
          "orderHashes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Hash of settlement transaction order was marketable and triggered a match"
          },
          "status": {
            "type": "string",
            "enum": [
              "matched",
              "live",
              "delayed",
              "unmatched"
            ],
            "description": "Status of the order placement"
          }
        }
      },
      "CancelResponse": {
        "type": "object",
        "properties": {
          "canceled": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of canceled order IDs"
          },
          "not_canceled": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of order ID to reason why it couldn't be canceled"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "errorMsg": {
            "type": "string",
            "description": "Description of the error"
          }
        }
      }
    }
  }
}